body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

                                                    /**************** HEADER & FRONT PAGE ********************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 15%;
    background-color: #1f2937;
}

.logo{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.content{
    flex: 1 1 auto;
}

.first_page{
    display: flex;
    background-color: #1f2937;
    padding: 10em 15% 14em;
}

h1{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.intro_image{
    background-color: grey;
    color: white;
    width: 60%;
    height: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    text-align: justify;
}

.intro_button{
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    border-color: #3882f6;
    text-align: center;
    color: #e5e7eb;
    font-weight: bold;
    padding: 8px 40px;
    margin: 16px 0;
}

.pg_intro{
    margin-right: 5%;
    text-align: left;
    width: 35%;
}

                                                         /*************** INFORMATION ***************/
.info{
    margin-bottom: 9rem; 
    text-align: center;
}   

h2{
    font-size: 36px;
    font-weight: 900;
    margin: 4rem;
}  

.card_subtext{
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.card_img{
    height: 200px;
    width: 200px;
    border: 2px solid #3882f6;
    border-radius: 1em;
    margin-bottom: 5px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card{
    max-width: 200px;
}

                                    /***************************************** QUOTE ****************************************/

.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 8rem 32rem;
}

.text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.thor{
    font-size: 24px;
    font-weight: 900;
    margin-left: auto;
}

                                    /*********************************** CALL TO ACTION ***************************************/
.action{
    background-color: #3882f6;
    margin: 6rem 24rem;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 3rem 2em;
}

p, h4{
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

h4{
    font-size: 24px;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

.action-button{                                                                     
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 900;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    font-size: 20px;
    padding: 0.5rem 2rem;
}

                                            /****************************************** FOOTER *****************************************/

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 3rem;
}